.profile-view-item {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  margin-left: 10px;
}

.profile-pic-edit-view {
  margin: -7px -16px;
  cursor: pointer;
}

.profile-camera-icon {
  color: gray;
  margin-right: 70px;
  cursor: pointer;
  position: absolute;
  top: 50px;
}
